.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.cartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #000; /* Fondo negro */
    text-align: center;
}

.cartItemImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cartItemText {
    color: #fff; /* Color del texto blanco */
}

.removeButton, .checkoutButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.removeButton:hover, .checkoutButton:hover {
    background-color: #0056b3;
}

.totalContainer {
    margin-top: 20px;
    text-align: center;
}