.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00425c;
    width: 100%;
    box-sizing: border-box;
}

.leftContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rightContainer {
    display: flex;
    align-items: center;
}

.logoHome {
    height: 50px;
}

.logoUrbanMode {
    height: 70px;
}

.navButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.navButton:hover {
    background-color: #0056b3;
}

.cartContainer {
    display: flex;
    align-items: center;
}