.navBar{
    display: flex;
    align-items: space-around;
}

.logoHome{
    width: 50px;
    margin: 10px;
}

.navButton{
    background-color: rgb(162, 6, 139);
    color: white;
    width: 120px;
    margin: 10px;
}

.cartContainer{
    margin: 22px;
}